body{
    background-color: rgb(65, 62, 62);
}
.main{
    background-color: rgb(29, 29, 29);
    height: 100%;
    width: 80vh;
    margin: 30px;
    color: white;
    display: flex;
}
.logo{
    padding:70px;
    padding-bottom: 30px;
    padding-top: 65px;
    border-radius: 300px;
}
.container{
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 30px;
    background-color: rgb(43, 41, 41);
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    transition: transform 0.3s ease-in;
}

.container:hover{
    color: brown;
    transform: scale(1.09); 
}